h1 {
    font-family: sans-serif;
}

.wide {
  width: 100%;
  min-height: 50vw;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}
